{{!< default}}
<!-- <div class="container"> -->
	<div class="jumbotron full-height">
		<script>
		    $(function(){
		        $("#or-text").typed({
		            strings:
								// TODO sketchy js templating, fix dis
								{{#if typeitems }}
								[
									{{#each typeitems}}
									'{{content}}',
									{{/each}}

								]
								{{/if}},
		            typeSpeed: 1,
								backDelay: 1000,
								loop: true
		        });
		    });
		</script>
		<!-- <img src="/images/logo.svg" width="160"> -->
		<p class="fadeIn">

			<span class="giant-span">Hire </span>
			<span class="giant-span" id="or-text"></span>
			<button class="btn btn-default btn-lg">Show me works</button>
		</p>
	</div>
	<ul id="parallax-scene"
		data-calibrate-x="true"
		data-calibrate-y="true"
		data-invert-x="true"
		data-invert-y="true"
		data-limit-x="false"
		data-limit-y="false"
		data-scalar-x="false"
		data-scalar-y="10"
		data-friction-x="0.1"
		data-friction-y="0.1"
		data-origin-x="0.5"
		data-origin-y="0.5"
	>
	<li class="scene-layer" data-depth="0.8">
		<div id="balloons-bg" class="svg-container">
			{{> balloons-bg }}
		</div>
	</li>
	<li class="scene-layer" data-depth="0.4">
		<div id="balloons-isolate" class="svg-container">
			{{> balloons-iso}}
		</div>
	</li>

	</ul>



<!-- </div> -->
