<footer id="footer">
	<div class="container">
		<p class="pull-left">
			Coded with <i class="fa fa-coffee"></i> by Kieran Mann<br>
			&copy; 2017
		</p>
		<ul class="list-inline pull-right">
			<li><a href="https://github.com/kmannislands/" title="Github | kmannislands"><i class="fa fa-github"></i></a></li>
			<li><a href="https://linkedin.com/in/kieran-jarrett-mann-5977b849" title="LinkedIn | Kieran Mann"><i class="fa fa-linkedin"></i></a></li>
			<li><a href="https://www.kaggle.com/kmannislands" style="text-decoration:none;" title="Kaggle | kmannislands">k</a></li>
		</ul>
	</div>
</footer>

<!-- ONLY scripts that are used on evey page -->

<script src="/js/external.min.js"></script>

{{{isAdminEditorJS user}}}
