#header {
	margin-top: 30px;
	position: absolute;
	width: 100vw;
}

#footer {
	padding: 30px;
	color: #777777;
	height: 150px;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

.full-height {
	height: 100vh;

}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

h1,h2,h3,h4,h5,h6,
.page-header,.section-header,
.giant-span {
	font-family: 'Oxygen Mono', monospace;
}

.giant-span,
.giant-span + .typed-cursor {
	font-size: 250%;
}

body, p, span, a {
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	background-color: $balloon-bottom;

	a {
		color: inherit;
	}
}

.jumbotron.full-height {
	background-color: transparent;
  padding-top: calc(33vh - 35px);
  padding-left: 10vw;
}

// SVG Layout responsive stuff
.svg-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: -1;
	display: flex;
	align-items: flex-start;
	height: 100vh;

		svg {
			position: absolute;
			left: 0;
			max-width: 100vw;
			height: auto;
		}

}

@media(min-aspect-ratio: 3/2) {
	.svg-container svg {
		bottom: 0;
	}
}

@media(max-aspect-ratio: 3/2) {
	.svg-container svg {
		top: 0;
	}
}
