a.navbar-brand {
	font-family: "Oxygen Mono", monospace;
}

li.nav-item {
	margin-right: 10px;

	a:active,
	a:focus,
	a:hover {
		background-color: transparent;

		&:before {
			content: '> ';
			position: absolute;
			animation: blink 1s infinite;
			margin-left: -10px;
		}
	}
}
