a.navbar-brand {
	font-family: "Oxygen Mono", monospace;
}

.nav.navbar-nav li {
		a:active,
		a:focus,
		a:hover {
			background-color: transparent;

			&:before {
				content: '> ';
				position: absolute;
				left: 5px;
				animation: blink 1s infinite;
			}
		}


}
